<div class="footer">
  <ul class="list-inline">
    <li>
      <a href="https://www.facebook.com/" target="_blank">
      <i class="fa fa-facebook-official fa-2x icons" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="http://www.instagram.com" target="_blank">
      <i class="fa fa-instagram fa-2x icons" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/?lang=en" target="_blank">
      <i class="fa fa-twitter fa-2x icons" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/" target="_blank">
      <i class="fa fa-youtube fa-2x icons" aria-hidden="true"></i>
      </a>

  </ul>
</div>
