<h1>Location de bateaux !</h1>


<div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>



<input type="text" id="txt_home_search" name="city" placeholder="Où voulez-vous louer ?" class="input" autocomplete="off">

