
<div class="banner" style="background-image: url(http://www.solenzara-voile-services.com/medias/images/sense-55-1.jpg);">
  <div class="banner-content">
    <h1>A l'abordage</h1>
    <p>Location de bateaux entre particuliers</p>
    <div class="input-daterange input-group" id="datepicker">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">à</span>
    <input type="text" class="input-sm form-control" name="end" />
    </div>
      <form role="form" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                <label class="col-sm-4 control-label">Où louer : :</label>
                <div class="col-sm-8">
                  <input id="address" name="address"
                         class="form-control" placeholder="quel port ?">
                         <p><a class="btn btn-primary btn-medium">CHERCHER</a></p>
                </div>
              </div>
            </fieldset>
  </div>
</div>


<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="_js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="_js/bootstrap.js"></script>

