.footer {
  background-color: #049EDB;
  color: #000000;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.social_networks {
  padding: 10px;
}

.social_networks img {

}

.icons {
  color: #000000;
  margin-right: 30px;
}

.icons:hover {
  color: yellow;
}
/* Footer design */
// Your footer style
