
<div class="container">
  <h1>
    Voici les bateaux disponibles
    <%= link_to "Retour à la recherche", root_path, class: "btn btn-primary btn-sm" %>
  </h1>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% @boats.first(2).each do |boat| %>
        <%= render "boat", boat: boat %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div id="map" style="width: 100%; height: 515px;"></div>
    </div>
  </div>
  <div class="row">
     <% @boats[2..-1].each do |boat| %>
      <div class="col-sm-4">
        <%= render "boat", boat: boat %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
 </script>
<% end %>
