
.form-inputs {
  margin-bottom: 15px;
  font-weight: bolder;
  margin-left: 350px;
  margin-right: 350px;
}

.titles-form {
  text-align: center;
}


.form-actions {
  text-align: center;

}

.passwords-devise {
  text-align: center;

}
