
.form-inputs {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.titles-form {
  text-align: center;
}


.form-actions {
  text-align: center;


}

.passwords-devise {
  text-align: center;

}

body {
  background-color: #FAFAFA;
}



